<div class="flex flex-col">
    <div class="flex justify-between flex-wrap">
        <div>
            <h3>Anschrift</h3>
            <p>
                Tierschutz Braunschweig e.V.</br>
                Biberweg 30, 38114 Braunschweig</br>           
            </p>
        </div>
        <div>
            <h3>Kontakt</h3>
            <p>
                Geschäftsstelle: 0531 - 50 00 06</br>
                Tierheim: 0531 - 50 00 07</br>
                Fax: 0531 - 57 48 15</br>
                E-Mail: info(at)tierschutz-braunschweig(dot)de
            </p>
        </div>
        <div>
            <h3>Spendenkonto</h3>
            <p>
                Landessparkasse Braunschweig</br>
                DE97 2505 0000 0000 5460 10</br>
                NOLADE2HXXX
            </p>
        </div>
    </div>
    <div class="flex justify-between">
        <div class="flex gap-32">
            <div>Impressum</div>
            <div>Datenschutz</div>
        </div>
        <div>Copyright {{ 'now' | date('Y') }}</div>
    </div>
</div>