<div class="flex justify-center gap-32 flex-wrap items-center">
    <div>
        <a href="/">
            <img src="https://tierheim.tim-seeger.de/wp-content/uploads/2025/03/logo.png">
        </a>
    </div>
    <div>
        <a href="/tiervermittlung">
            <button class="border-radius-32 px-12 py-8">
                Tiervermittlung
            </button>
        </a>
    </div>
    <div>
        <a href="">
            <button class="border-radius-32 px-12 py-8">
                Kontakt
            </button>
        </a>
    </div>
    <div>
        <a href="">
            <button class="border-radius-32 px-12 py-8">
                Über uns
            </button>
        </a>
    </div>
    <div>
        <a href="">
            <button class="border-radius-32 px-12 py-8 ">
                @Instagram
            </button>
        </a>
    </div>
    <div>
        <form class="tierheim-form" id="paypal-funding" action="https://www.paypal.com/donate" method="post" target="_blank">
            <input type="hidden" value="R25JK8Y9FG6SW" name="hosted_button_id">
            <button type="submit" class="border-radius-32 px-12 py-8 background-color-yellow color-black">
                Spenden
            </button>
        </a>
    </div>
</div>