{% extends "base.twig" %}

{% block content %}
<div class="flex flex-col items-center justify-center gap-sections">
    <div class="flex flex-col items-center">
        <h1 class="text-center">Willkommen auf den Internetseiten des Tierschutz Braunschweig gegr. 1882 e.V.</h1>
        <h2 class="text-center">Tierschutz geht uns alle an!</h2>
        <div class="grid grid-2-2">
            <a href="#" class="card">
                <div class="card-content">
                    <h3>Wir betreiben.</h3>
                    <p>Das Braunschweiger Tierheim bietet herrenlosen und in Not geratenen Tieren bis zu ihrer Vermittlung oder Rückgabe eine vorläufige Unterkunft.</p>
                </div>
                <button>Mehr erfahren</button>
            </a>
            <a href="#" class="card">
                <div class="card-content">
                    <h3>Wir ermitteln.</h3>
                    <p>Bei Verstößen gegen das Tier- und Naturschutzrecht stehen wir den Tieren im Bereich Braunschweig als Stimme und Anwalt zur Seite.</p>
                </div>
                <button>Mehr erfahren</button>
            </a>
            <a href="#" class="card">
                <div class="card-content">
                    <h3>Wir retten.</h3>
                    <p>Mit unserem Tierrettungsdienst stehen wir allen Tieren und Braunschweiger Bürgern an 365 Tagen im Jahr rund um die Uhr zur Verfügung und übernehmen damit zum Teil öffentlich-rechtliche Aufgaben.</p>
                </div>
                <button>Mehr erfahren</button>
            </a>
            <a href="#" class="card">
                <div class="card-content">
                    <h3>Wir wollen.</h3>
                    <p>Respekt für das Leben der Tiere</p>
                </div>
                <button>Mehr erfahren</button>
            </a>
        </div>
    </div>

    <div class="flex flex-col items-center">
        <h2>
            Veranstaltungen
        </h2>
        <div class="grid">
            <div>
                <h3>
                    Flohmarkt im Oktober
                </h3>
                <p>
                    Manche Dinge werden im Tierheim nicht benötigt, wie z. B. Fahrradkörbe für Hunde, einige Dinge haben wir in doppelter Ausführung und können dementsprechend etwas entbehren.
                </p>
                <div class="flex">
                    <div class="icon_box">
                        <img src="" />
                        <span>
                            14.03.2024
                        </span>
                    </div>
                    <div class="icon_box">
                        <img src="" />
                        <span>
                            Tierheim Braunschweig
                        </span>
                    </div>
                </div>
            </div>
            <div>
                <h3>
                    Flohmarkt im Oktober
                </h3>
                <p>
                    Manche Dinge werden im Tierheim nicht benötigt, wie z. B. Fahrradkörbe für Hunde, einige Dinge haben wir in doppelter Ausführung und können dementsprechend etwas entbehren.
                </p>
                <div class="flex">
                    <div class="icon_box">
                        <img src="" />
                        <span>
                            14.03.2024
                        </span>
                    </div>
                    <div class="icon_box">
                        <img src="" />
                        <span>
                            Tierheim Braunschweig
                        </span>
                    </div>
                </div>
            </div>
            <div>
                <h3>
                    Flohmarkt im Oktober
                </h3>
                <p>
                    Manche Dinge werden im Tierheim nicht benötigt, wie z. B. Fahrradkörbe für Hunde, einige Dinge haben wir in doppelter Ausführung und können dementsprechend etwas entbehren.
                </p>
                <div class="flex">
                    <div class="icon_box">
                        <img src="" />
                        <span>
                            14.03.2024
                        </span>
                    </div>
                    <div class="icon_box">
                        <img src="" />
                        <span>
                            Tierheim Braunschweig
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col">
        <h2 class="text-center">Hier finden Sie uns</h2>
        <iframe 
            class="maps-map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2543.41275071!2d10.507791677777622!3d52.284552720595975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0x299760f881c7bae5%3Aundefined!2zVGllcnNjaHV0eiBCcmF1bnNjaHdlaWcgZ2Vnci4gMTg4MiBlLiBWLiwgQmliZXJ3ZWcgMzAsIEJyYXVuc2Nod2VpZywgRGV1dHNjaGxhbmQ=!5e0!3m2!1sen!2sau!4v1471218824160" 
            style="">
        </iframe>
    </div>
{% endblock %}