{% extends "base.twig" %}

{% block content %}
    <div class="flex flex-col items-center">
        <h1 class="text-center">Willkommen auf den Internetseiten des Tierschutz Braunschweig gegr. 1882 e.V.</h1>
        <h2 class="text-center">Tierschutz geht uns alle an!</h2>
        <div class="grid grid-2-2">
            <a href="#" class="card">
                <div class="card-content">
                    <h3>Wir betreiben.</h3>
                    <p>Das Braunschweiger Tierheim bietet herrenlosen und in Not geratenen Tieren bis zu ihrer Vermittlung oder Rückgabe eine vorläufige Unterkunft.</p>
                </div>
                <span>Mehr erfahren</span>
            </a>
            <a href="#" class="card">
                <div class="card-content">
                    <h3>Wir ermitteln.</h3>
                    <p>Bei Verstößen gegen das Tier- und Naturschutzrecht stehen wir den Tieren im Bereich Braunschweig als Stimme und Anwalt zur Seite.</p>
                </div>
                <span>Mehr erfahren</span>
            </a>
            <a href="#" class="card">
                <div class="card-content">
                    <h3>Wir retten.</h3>
                    <p>Mit unserem Tierrettungsdienst stehen wir allen Tieren und Braunschweiger Bürgern an 365 Tagen im Jahr rund um die Uhr zur Verfügung und übernehmen damit zum Teil öffentlich-rechtliche Aufgaben.</p>
                </div>
                <span>Mehr erfahren</span>
            </a>
            <a href="#" class="card">
                <div class="card-content">
                    <h3>Wir wollen.</h3>
                    <p>Respekt für das Leben der Tiere</p>
                </div>
                <span>Mehr erfahren</span>
            </a>
        </div>
    </div>
{% endblock %}